.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    behavior: url(./PIE.htc);
}

.inputfile + label {
    font-size: 1.0em;
    color: white;
    background-color: black;
    display: inline-block;
    behavior: url(./PIE.htc);
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
    behavior: url(./PIE.htc);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
    behavior: url(./PIE.htc);
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
    behavior: url(./PIE.htc);
}