.node {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(27, 27, 27);
    border: 2px solid rgb(51, 51, 51);
    box-shadow: rgba(0, 0, 0, 0.65) 2px 3px 4px, rgba(0, 0, 0, 0.23) 2px 2px 4px;
    border-radius: 10%;
    cursor: move;
    behavior: url(./PIE.htc);
}

.draggable {
    position: absolute;
    cursor: move;
    behavior: url(./PIE.htc);
}